# VinUni API
NEXT_PUBLIC_API_URL=https://apigw-vinuni.ript.vn

# URL for proxy
NEXT_PUBLIC_PROXY_URL=https://proxy.apigw-vinuni.ript.vn

# Cloudflare Turnstile site key
NEXT_PUBLIC_TURNSTILE_SITE_KEY='0x4AAAAAAEwALwxYXVVjKJ-v'
